/* dashboardStyle.css */

/* General styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#viewport {
    display: flex;
    flex-direction: row;
}

/* Sidebar */

#sidebar {
    width: 250px;
    background-color: #3b6978;
    height: 100vh;
}

#sidebar header {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

#sidebar .logo p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

#sidebar .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar .nav li {
    padding: 10px;
}

#sidebar .nav li a {
    text-decoration: none;
    color: #000;
    display: block;
}

#sidebar .nav li a:hover {
    background-color: #ddd;
}

/* Content */

#content {
    flex-grow: 1;
    padding: 20px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav {
    float: right;
}

.row-container {
    display: flex;
    width: 70vw;
    height: 30vh;
    padding: 50px;
}

.nutrition,
.serving {
    margin-bottom: 10px;
}

.nutrition a,
.child a,
.childGrowth a,
.serving a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.nutrition a:hover,
.child a:hover,
.childGrowth a:hover,
.serving a:hover {
    background-color: #555;
}

.nutrition,
.child,
.childGrowth,
.serving {
    width: 30vw;
    height: 30vh;
    border: #204051;
    box-shadow: #333333;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    user-focus-pointer: center;
    padding: 30px;
    margin: 10px;
}

.nutrition {
    background-image: url('/assets/nutrition_image2.jpg');
}

.serving {
    background-image: url('/assets/serving_image1.jpeg');
}

.childGrowth {
    background-image: url('/assets/child_image.jpeg');
}

.child {
    background-image: url('/assets/child_growth_image.jpg');
}

.logout {
    background-color: #dbd5d5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
