<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CNMS Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/dashboardStyle.css}">
</head>
<body>
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <div class="logo">
        <p>CNMS</p>
      </div>
    </header>
    <ul class="nav">
      <li>
        <a th:href="@{/Dashboard}">
          <!--<i class="zmdi zmdi-view-dashboard"></i>--> Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/Children}">
          <!--<i class="zmdi zmdi-link"></i>--> Child
        </a>
      </li>
      <li>
        <a th:href="@{/ChildGrowth}">
          <!--<i class="zmdi zmdi-widgets"></i>--> Child Growth
        </a>
      </li>
      <li>
        <a th:href="@{/Nutrition}">
          <!--<i class="zmdi zmdi-calendar"></i>--> Nutrition
        </a>
      </li>
      <li sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/Users}">
          <!--<i class="zmdi zmdi-info-outline"></i>--> User Management
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <!--<li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>-->
          <!--<li><a th:href="#">Test User</a></li>-->
          <li><span sec:authentication="username"></span></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <h1>CNMS</h1>
      <p>
        Child Nutrition Management System
        <code>#AnnetteT</code>.
      </p>
    </div>
  </div>
</div>
</body>
</html>