<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CNMS Home</title>
  <link rel="stylesheet" type="text/css" href="/css/homeStyle.scss">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
  <nav id="nav">
    <div class="logo">
      <p>CNMS</p>
    </div> <!-- logo -->
    <ul>
      <li><a th:href="@{/home}" class="active">Home</a></li>
      <li><a th:href="@{/home}">Menu</a></li>
      <li><a th:href="@{/home}">About</a></li>
      <li><a th:href="@{/home}">Contact</a></li>
    </ul>
    <div class="menuIcon"></div>
  </nav> <!-- nav -->

  <header>
    <div class="text">
      <h2>Eat healty <br> stay healthy</h2>
      <p>A child is the gift from God. Whenever you get a child, treat them carefully recognizing that their
        healthy nutrition will help them grow well.</p>
      <a href="#" class="btn">Read more</a>
    </div> <!-- text -->
    <div class="img">
      <img src="https://i.ibb.co/mcHHGjL/plate.jpg" alt="">
    </div> <!-- img -->
  </header>

  <header>
    <div class="text">
      <h2>Good food <br> good sleep</h2>
      <p>Eating healthy food without good sleep may be like fetching water in a broken vessel.
        Both are needed. Let your child have both of them to stay healthy.</p>
      <a href="#" class="btn">Read more</a>
    </div> <!-- text -->
    <div class="img">
      <img src="https://i.ibb.co/vXv864h/salad.jpg" alt="">
    </div> <!-- img -->
  </header>

  <header>
    <div class="text">
      <h2>Eat your <br>vegetables</h2>
      <p>Most of children would prefer to always eat chips. Yet they are not healthier to them as
        serving them green food. For the better growth of your child. Follow the serving. It will help.</p>
      <a href="#" class="btn">Read more</a>
    </div> <!-- text -->
    <div class="img">
      <img src="https://i.ibb.co/0jkRJCx/veges.jpg" alt="">
    </div> <!-- img -->
  </header>

</div> <!-- container -->
</body>
</html>