<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>CNMS Nutrition</title>
    <link rel="stylesheet" th:href="@{/css/dashboardStyle.css}">
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}"/>
</head>
<body>
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <div class="logo">
                <p>CNMS</p>
            </div>
        </header>
        <ul class="nav">
            <li>
                <a th:href="@{/dashboard}">
                    Dashboard
                </a>
            </li>
            <li>
                <a th:href="@{/children}">
                    Child
                </a>
            </li>
            <li>
                <a th:href="@{/childGrowth}">
                    Child Growth
                </a>
            </li>
            <li>
                <a th:href="@{/nutritions}">
                    Nutrition
                </a>
            </li>
            <li>
                <a th:href="@{/user/view_servings}">
                    Serving
                </a>
            </li>
            <li sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/users}">
                    User
                </a>
            </li>
        </ul>
    </div>
    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <p class="nav navbar-nav navbar-right">
                    <span th:text="${username}"></span>
                </p>
                <form th:action="@{/logout}" method="post" class="logout">
                    <input type="submit" value="Logout">
                </form>
            </div>
        </nav>
        <div class="container-fluid">
                <div class="text">
                    Nutrition
                </div>
                <form th:action="@{/admin/new_nutrition}" th:object="${nutrition}" method="post" enctype="multipart/form-data">
                    <div class="field">
                        <input type="text" name="name" required/>
                        <label>Name</label>
                    </div>
                    <div class="field">
                        <input type="text" name="description" required/>
                        <label>Description</label>
                    </div>
                    <br/>
                    <div class="field">
                        <input type="text" name="type" required/>
                        <label>Type</label>
                    </div>
                    <div class="upload">
                        <input type="file" id="file" name="pictureFile" class="inputfile" onchange="updateLabel()"/>
                        <label for="file" class="file-label">
                            <i class="fa fa-upload"></i>
                            <span id="file-label-text">Upload Picture</span>
                        </label>
                    </div>
                    <br>
                    <br>
                    <button>Save</button>
                    </center>
                </form>
            <script>
                function updateLabel() {
                    var input = document.getElementById('file');
                    var label = document.getElementById('file-label-text');

                    if (input.files && input.files.length > 0) {
                        label.innerHTML = input.files[0].name;
                    } else {
                        label.innerHTML = "Upload Picture";
                    }
                }
            </script>
        </div>
    </div>
</div>
   </body>
</html>