<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>CNMS Serving</title>
  <link rel="stylesheet" th:href="@{/css/tableStyle.css}" />
  <link rel="stylesheet" th:href="@{/css/dashboardStyle.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <div class="logo">
        <p>CNMS</p>
      </div>
    </header>
    <ul class="nav">
      <li>
        <a th:href="@{/dashboard}">
          Dashboard
        </a>
      </li>
      <li>
        <a th:href="@{/children}">
          Child
        </a>
      </li>
      <li>
        <a th:href="@{/childGrowth}">
          Child Growth
        </a>
      </li>
      <li>
        <a th:href="@{/nutritions}">
          Nutrition
        </a>
      </li>
      <li>
        <a th:href="@{/user/view_servings}">
          Serving
        </a>
      </li>
      <li sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/users}">
          User
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <p class="nav navbar-nav navbar-right">
          <span th:text="${username}"></span>
        </p>
        <form th:action="@{/logout}" method="post" class="logout">
          <input type="submit" value="Logout">
        </form>
      </div>
    </nav>
    <div class="container-fluid">
      <main>
        <table class="customer-table">
          <caption>Serving</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>Child Growth</th>
            <th>Nutrition</th>
            <th>Quantity</th>
            <th>Quantity Type</th>
            <th>Preferred Time</th>
            <th>File Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td colspan="12">
              CNMS Serving list.
            </td>
          </tr>
          </tfoot>
          <tbody>
          <tr th:each="model : ${servingList}" >
            <td th:text="${model.id}"></td>
            <td th:text="${model.childGrowth.bmi}"></td>
            <td th:text="${model.nutrition.name}"></td>
            <td th:text="${model.quantity}"></td>
            <td th:text="${model.quantityType.toString()}"></td>
            <td th:text="${model.preferredTime}"></td>
            <td th:text="${model.fileName}"></td>
            <td>
              <a th:href="@{/admin/update_serving/${model.id}}"><i class="fas fa-pencil-alt"></i></a>
              <a th:href="@{/admin/delete_serving/${model.id}}"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="pagination">
          <ul>
            <li th:class="${currentPage == 0 ? 'disabled' : ''}">
              <a th:href="@{/admin/dashboard(page=0)}">First</a>
            </li>
            <li th:class="${currentPage == 0 ? 'disabled' : ''}">
              <a th:href="@{/admin/dashboard(page=__${currentPage - 1}__)}">Previous</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                th:class="${pageNumber == currentPage ? 'active' : ''}">
              <a th:href="@{/admin/dashboard(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">
              <a th:href="@{/admin/dashboard(page=__${currentPage + 1}__)}">Next</a>
            </li>
            <li th:class="${currentPage == totalPages - 1 ? 'disabled' : ''}">
              <a th:href="@{/admin/dashboard(page=${totalPages - 1})}">Last</a>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</div>
</body>
</html>