<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/tableStyle.css" />
</head>
<body>
<main>
  <table class="customer-table">
    <caption>Users</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th>State</th>
      <th>Action</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="3">
        CNMS Users list.
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr th:each="users : ${usersList}" >
      <td th:field="${users.id}"></td>
      <td th:field="${users.username}"></td>
      <td th:field="${users.email}"></td>
      <td th:field="${users.role}"></td>
      <td th:field="${users.state}"></td>
      <td>
        <a th:href="@{/user/update_user/${users.id}"><i class="fa fa-pencil"></i></a>
        <a th:href="@{/admin/deactivate_user/${users.id}"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>